body {
  padding: 4rem 10rem;
  font-family: 'Apfel Grotezk', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  background-color: #e8c030;
}

body,
h1,
h2,
h3,
input {
  font-weight: 400;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0;
  font-size: 1rem;
}

i.fa-plus-circle {
  font-size: 3rem;
  float: right;
  margin-top: -3rem;
  cursor: pointer;
}

i.fa-plus,
i.fa-recycle {
  margin-right: 0.6rem;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  background-color: white;
  color: black;
  z-index: 2;
  position: absolute;
  margin: auto;
  width: 65%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4rem;
  padding: 2rem 4rem 13rem;
  animation: fadeIn 0.5s;
}

label,
input,
textarea {
  font-size: 1.2rem;
  font-family: 'Apfel Grotezk';
}

input,
textarea {
  padding: 0.8rem;
  margin: 0.4rem 0 2rem 0;
  border-radius: 0.2rem;
  border: 2px solid black;
}

input[type='text'] {
  width: 10%;
}

textarea {
  width: 50%;
  height: 35%;
}

input[type='submit'] {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2.4rem;
  cursor: pointer;
}

div.btn-group {
  display: inline-block;
}

p#error {
  color: rgb(218, 40, 0);
  margin: 0.6rem 0;
}

/* mobile responsive styles */

@media only screen and (max-width: 700px) {
  body {
    padding: 4rem 2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  #overlay {
    display: none;
  }

  form {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 3rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
  }

  #close {
    bottom: 0;
    position: fixed;
    right: 0;
    margin: 6rem;
  }

  input[type='text'],
  textarea {
    width: 100%;
  }
}
