body {
  padding: 4rem 8rem;
  font-family: 'Apfel Grotezk', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  background-color: #e8c030;
}

body,
h1,
h2,
h3,
input {
  font-weight: 400;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

#thought {
  margin: 3rem 0;
  animation: fadeIn 0.5s;
}

.icon {
  width: 2.4rem;
  cursor: pointer;
  float: right;
}

#add {
  margin-top: -3rem;
}

#add:hover {
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

#close {
  transform: rotate(45deg);
}

#close:hover {
  transform: rotate(135deg);
  transition-duration: 0.5s;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  background-color: white;
  color: black;
  z-index: 2;
  position: absolute;
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4rem;
  padding: 3rem 4rem 10rem;
  animation: fadeIn 0.5s;
}

label,
input,
textarea {
  font-size: 1.2rem;
  font-family: 'Apfel Grotezk';
}

input,
textarea {
  padding: 0.6rem;
  margin: 0.4rem 0 2rem 0;
}

textarea {
  width: 50%;
  height: 35%;
}

input[type='submit'] {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2.4rem;
}
